/* stylelint-disable selector-max-type */

.auto-position-page .tooltipper {
  background-color: var(--white);
  box-sizing: border-box;
  cursor: move;
  user-select: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 160px;
  padding: 20px;
  text-align: center;
}

.auto-position-page .tooltip {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.auto-position-page table {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: var(--grey);
}
