/* stylelint-disable selector-max-type */

.auto-position-page {
  height: calc(100vh - var(--app-margin) * 2);
}

.auto-position-page .tooltipper {
  background-color: var(--white);
  box-sizing: border-box;
  cursor: move;
  user-select: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  padding: 20px;
  text-align: center;
}

.auto-position-page .tooltip {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.auto-position-page table {
  height: 100%;
  width: 100%;
}
