/* stylelint-disable selector-max-type */

:root {
  margin: 0;

  --white: white;
  --black: black;
  --grey: silver;
  --dark-grey: darkgray;
  --red: red;
  --green: green;
  --app-margin: 8px;
}

.ember-application {
  margin: 0;
  padding: var(--app-margin);
}

a {
  display: inline-block;
}

span {
  color: var(--dark-grey);
}
