.position-page {
  height: calc(100vh - var(--app-margin) * 2);
}

.position-page .tooltipper {
  background-color: var(--grey);
  box-sizing: border-box;
  cursor: move;
  user-select: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  padding: 20px;
  text-align: center;
}

.position-page .tooltip {
  background-color: var(--black);
  box-sizing: border-box;
  color: var(--white);
  padding: 5px;
  width: 100px;
  text-align: center;
}

.position-page__grid {
  height: 100%;
  width: 100%;
}

.position-page__cell {
  vertical-align: middle;
  text-align: center;
}
