/* stylelint-disable sh-waqar/declaration-use-variable, color-no-hex */

.ember-application:not(.has-layout) {
  .controls {
    position: fixed;
    top: 5px;
    left: 5px;
  }

  .control {
    margin-right: 20px;
  }

  .number-input {
    max-width: 40px;
  }

  .tooltipper {
    background-color: silver;
    box-sizing: border-box;
    cursor: move;
    user-select: none;
    position: absolute;
    top: 35px;
    left: 10px;
    width: 160px;
    padding: 20px;
    text-align: center;
  }

  .tooltip {
    background-color: black;
    box-sizing: border-box;
    color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
  }

  .grid {
    height: 100vh;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .cell {
    vertical-align: middle;
    text-align: center;
    transition: width 0.2s, height 0.2s;
  }
}
