/* stylelint-disable sh-waqar/declaration-use-variable, color-no-hex */

.ember-application:not(.has-layout) {
  padding: 0;
  margin: 0;

  .controls {
    position: fixed;
    top: 5px;
    left: 5px;
  }

  .control {
    margin-right: 20px;
  }

  .number-input {
    max-width: 40px;
  }

  .tooltipper,
  .tooltip {
    color: white;
    box-sizing: border-box;
    padding: 5px;
  }

  .tooltipper {
    background-color: blue;
    cursor: move;
    user-select: none;
    position: absolute;
    top: 35px;
    left: 10px;
    width: 140px;
    line-height: 50px;
    text-align: center;
  }

  .tooltipper.is-loading {
    background-color: green;
  }

  .tooltip {
    background-color: red;
  }

  .grid {
    height: 100vh;
    width: 100%;
    table-layout: fixed;
    background-color: #f1f1f1;
    border-collapse: collapse;
  }

  .cell {
    vertical-align: middle;
    text-align: center;
    transition: width 0.5s, height 0.5s;
  }

  .row:nth-child(even) .cell:nth-child(odd),
  .row:nth-child(odd) .cell:nth-child(even) {
    background-color: #e1e1e1;
  }
}
