/* stylelint-disable selector-max-type */

table,
td,
tr {
  border: 1px solid var(--dark-grey);
  border-collapse: collapse;
  padding: 2px 4px;
}

td {
  vertical-align: middle;
  text-align: center;
}
