.tooltip {
  position: absolute;
  border: 1px solid var(--green);

  &[data-tooltip-showing='true'] {
    animation: fade-in 300ms backwards;
  }

  &[data-tooltip-showing='false'] {
    animation: fade-out 300ms forwards;
  }

  &[data-tooltip-sticky='true'] {
    animation-name: none;
    border-color: var(--blue);
  }
}
