/* stylelint-disable selector-max-type, scale-unlimited/declaration-strict-value */

table,
td,
tr {
  border: 1px dashed var(--grey);
  border-collapse: collapse;
  padding: 2px 4px;
}

td {
  vertical-align: middle;
  text-align: center;
}
