<p>
  Trigger the tooltip on mouse over of an element, but position the tooltip to a
  child element
</p>

<div>
  Hover over me

  {{#let (unique-id) as |id|}}
    <small id={{id}}>ⓘ</small>

    <Tooltip @attachTo="#{{id}}" @position="bottom center">
      Hello World
    </Tooltip>
  {{/let}}
</div>