<div class="auto-position-page">
  <table>
    <tbody>
      <tr>
        <td>
          top left
        </td>
        <td>
          top center
        </td>
        <td>
          top right
        </td>
      </tr>
      <tr>
        <td>
          middle left
        </td>
        <td>
          middle center
        </td>
        <td>
          middle right
        </td>
      </tr>
      <tr>
        <td>
          bottom left
        </td>
        <td>
          bottom center
        </td>
        <td>
          bottom right
        </td>
      </tr>
    </tbody>
  </table>

  <div
    draggable="true"
    {{on "drag" this.storeLastPos}}
    {{on "dragstart" this.storeStartPos}}
    {{on "dragend" this.reposition}}
  >
    Hover over me

    <Tooltip>
      Hello World
    </Tooltip>
  </div>
</div>