{{! template-lint-disable no-invalid-interactive no-down-event-binding  }}

<div class="auto-position-page">
  <div
    draggable="true"
    {{on "dragstart" this.handleDragStart}}
    {{on "dragend" this.handleDragEnd}}
  >
    Hover over me

    <Tooltip>
      Hello World
    </Tooltip>
  </div>
</div>

<table class="auto-position-table">
  <tbody>
    <tr>
      <td>
        top left
      </td>
      <td>
        top center
      </td>
      <td>
        top right
      </td>
    </tr>
    <tr>
      <td>
        middle left
      </td>
      <td>
        middle center
      </td>
      <td>
        middle right
      </td>
    </tr>
    <tr>
      <td>
        bottom left
      </td>
      <td>
        bottom center
      </td>
      <td>
        bottom right
      </td>
    </tr>
  </tbody>
</table>