<p>
  The tooltip is output to a specific element in the DOM (view source).
</p>

<div>
  Hover over me

  <Tooltip @destination={{this.elsewhere}}>
    Hello World
  </Tooltip>
</div>

<div id="elsewhere" {{this.registerElsewhere}}>
  {{! tooltip rendered here }}
</div>