<p>
  The tooltip is output to a specific element in the DOM
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/destination.hbs"
  >
    hbs
  </a>
</p>

<div>
  Hover over me

  <Tooltip @destination={{this.elsewhere}}>
    Hello World
  </Tooltip>
</div>

<div id="elsewhere" {{did-insert this.registerElsewhere}}>
  {{! tooltip rendered here }}
</div>