<p>
  Example usage with
  <code>
    {{!template-lint-disable no-unbalanced-curlies}}
    \{{in-element}} helper
  </code>
</p>

<Tooltipper
  @tooltip={{component "in-element-tooltip" destinationElement=this.elsewhere}}
  @position="bottom left"
>
  Hover over me
</Tooltipper>

<div id="elsewhere" {{did-insert this.registerElsewhere}}>
  {{! tooltip rendered here }}
</div>