<p>
  Basic usage
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/index.hbs"
  >
    hbs
  </a>
</p>

<div>
  Hover over me

  <Tooltip>
    Hello World
  </Tooltip>
</div>