<p>
  Basic usage
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/index.hbs"
  >
    hbs
  </a>
</p>

<Tooltipper
  @Tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom left"
>
  Hover over me
</Tooltipper>