<p>
  Interactive content (generally not advised for tooltips)
</p>

<Tooltipper
  @tooltip={{component "interactive-content-tooltip"}}
  @position="bottom left"
>
  <LinkTo @route="interactive-content">
    Hover over me
  </LinkTo>
</Tooltipper>