<p>
  Interactive content (generally not advised for tooltips)
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/interactive-content.hbs"
  >
    hbs
  </a>
</p>

<Tooltipper
  @Tooltip={{component "interactive-content-tooltip"}}
  @position="bottom left"
>
  <LinkTo @route="interactive-content">
    Hover over me
  </LinkTo>
</Tooltipper>