<p>
  Showing and hiding a tooltipper without mouse enter/leave events
</p>

<div>
  <button type="button" {{on "click" this.toggleTooltip}}>Toggle Tooltip</button>

  {{#if this.shouldShowTooltip}}
    <Tooltip @show={{true}}>
      Hello World
    </Tooltip>
  {{/if}}
</div>