<p>
  Showing and hiding a tooltipper without mouse events
</p>

<Tooltipper
  @tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom left"
  @mouseEvents={{false}} as |tooltipper|
>
  <button type="button" {{on "click" tooltipper.toggleTooltip}}>
    Click me
  </button>
</Tooltipper>