<p>
  A tooltipper inside a tooltipper
</p>

<div class="parent">
  Parent

  <Tooltip>
    Parent tooltip
  </Tooltip>

  <div class="child">
    Child

    <Tooltip>
      Child tooltip
    </Tooltip>
  </div>
</div>