<p>
  A tooltipper inside a tooltipper
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/nesting.hbs"
  >
    hbs
  </a>
</p>

<div class="parent">
  Parent

  <Tooltip>
    Parent tooltip
  </Tooltip>

  <div class="child">
    Child

    <Tooltip>
      Child tooltip
    </Tooltip>
  </div>
</div>