<div class="position-page">
  <table class="position-page__grid">
    <tbody>
      <tr class="position-page__row">
        <td class="position-page__cell">
          top left
        </td>
        <td class="position-page__cell">
          top center
        </td>
        <td class="position-page__cell">
          top right
        </td>
      </tr>
      <tr class="position-page__row">
        <td class="position-page__cell">
          middle left
        </td>
        <td class="position-page__cell">
          middle center
        </td>
        <td class="position-page__cell">
          middle right
        </td>
      </tr>
      <tr class="position-page__row">
        <td class="position-page__cell">
          bottom left
        </td>
        <td class="position-page__cell">
          bottom center
        </td>
        <td class="position-page__cell">
          bottom right
        </td>
      </tr>
    </tbody>
  </table>

  <Tooltipper
    draggable="true"
    ondrag={{this.storeLastPos}}
    ondragstart={{this.storeStartPos}}
    ondragend={{this.reposition}}
    @tooltip={{component "tooltip" text="Tooltip"}}
  >
    Tooltipper
  </Tooltipper>
</div>