<br />
<br />

<table>
  <tbody>
    <tr {{did-insert this.registerTableRow}}>
      <td>
        Hover over me

        {{#if this.tr}}
          <Tooltipper
            @tooltip={{component "tooltip" text="Hello World"}}
            @referenceElement={{this.tr}}
          />
        {{/if}}
      </td>
      <td>
        Cell 2
      </td>
      <td>
        Cell 3
      </td>
    </tr>
  </tbody>
</table>