<br />
<br />

<table>
  <tbody>
    <tr {{did-insert this.registerTableRow}}>
      <td>
        Cell 1

        {{#if this.tr}}
          <Tooltipper
            @tooltip={{component "tooltip" text="Tooltip for row"}}
            @showDelay={{100}}
            @referenceElement={{this.tr}}
          />
        {{/if}}
      </td>
      <td>
        Cell 2

        <Tooltipper @tooltip={{component "tooltip" text="Tooltip for cell"}}>
          <small>
            ⓘ
          </small>
        </Tooltipper>
      </td>
      <td>
        Cell 3
      </td>
    </tr>
  </tbody>
</table>