<p>
  A tooltip displayed on a specific reference element.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/reference.hbs"
  >
    hbs
  </a>
</p>

{{#let (unique-id) as |id|}}
  <table>
    <tbody>
      <tr id={{id}}>
        <td>
          Table cell 1

          <Tooltip @element="#{{id}}">
            Hello World
          </Tooltip>
        </td>
        <td>
          Table cell 1
        </td>
      </tr>
    </tbody>
  </table>
{{/let}}