<p>
  A tooltip displayed on a specific reference element
</p>

<p>
  <a
    href="https://github.com/zestia/ember-async-tooltips/blob/master/tests/dummy/app/templates/reference.hbs"
  >
    hbs
  </a>
</p>

<Tooltipper
  @Tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom center"
  @referenceElement={{this.span}}
>
  Tooltipper instance is here,
</Tooltipper>

<span {{did-insert this.registerSpan}}>
  but the tooltip is displayed over me
</span>