<br><br>

<table>
  <tbody>
    <tr>
      <td>
        <CustomTooltipper @tooltip={{component "simple-tooltip"}} />
        Hover over me
      </td>
      <td>
        Cell 2
      </td>
      <td>
        Cell 3
      </td>
    </tr>
  </tbody>
</table>