<br><br>

<table>
  <tbody>
    <tr>
      <td>
        Hover over me

        <Tooltipper
          @tooltip={{component "simple-tooltip"}}
          @onGetReferenceElement={{action "getReferenceElement"}} />
      </td>
      <td>
        Cell 2
      </td>
      <td>
        Cell 3
      </td>
    </tr>
  </tbody>
</table>