<br><br>

<table>
  <tbody>
    <tr>
      <td>
        {{custom-tool-tipper tooltip=(component "simple-tool-tip")}}
        Hover over me
      </td>
      <td>
        Cell 2
      </td>
      <td>
        Cell 3
      </td>
    </tr>
  </tbody>
</table>