<p>
  Custom reference element
</p>

<Tooltipper
  @Tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom center"
  @referenceElement={{this.span}}
>
  Tooltipper instance is here,
</Tooltipper>

<span {{this.registerSpan}}>
  but the tooltip is displayed over me
</span>