<br />
<br />
<br />
<br />

<p>
  Basic tooltip usage:
</p>

<Tooltipper @tooltip={{component "tooltip" text="Hello World"}}>
  Hover over me
</Tooltipper>

<br />
<br />
<br />
<br />

<p>
  Manually showing a tooltip:
</p>

<Tooltipper
  @tooltip={{component "tooltip" text="Hello World"}}
  @mouseEvents={{false}} as |tooltipper|
>
  <button type="button" {{on "click" tooltipper.toggleTooltip}}>
    Click me
  </button>
</Tooltipper>