<br><br><br><br>

<Tooltipper @tooltip={{component "simple-tooltip"}}>
  Hover over me
</Tooltipper>

<br><br><br><br>

<Tooltipper @tooltip={{component "simple-tooltip"}} @mouseEvents={{false}} as |tooltipper|>
  <button type="button" onclick={{tooltipper.showTooltip}}>Click me</button>
</Tooltipper>