<p>
  Tooltip position is automatically re-computed
</p>

{{#let (unique-id) as |id|}}
  <div id={{id}} contenteditable>
    Type in here
  </div>
  <Tooltip @show={{true}} @element="#{{id}}" @position="bottom center">
    Tooltip
  </Tooltip>
{{/let}}