<p>
  Tooltip position is automatically re-computed
</p>

<div class="scroll-area">
  <div>One</div>
  <div>Two</div>
  <div>Three</div>
  <div>Four</div>
  <div>
    Five
    <Tooltip @position="right middle" @show={{true}}>Five</Tooltip>
  </div>
  <div>Six</div>
  <div>Seven</div>
  <div>Eight</div>
  <div>Nine</div>
  <div>Ten</div>
</div>