<p>
  Use Focus (for keyboard support)
</p>

<div class="use-focus-page">
  <button type="button">
    I should show when focused with a keyboard

    <Tooltip @useFocus={{true}}>
      Hello World
    </Tooltip>
  </button>

  <div tabindex="0">
    Focus me (I have interactive children)
    <Tooltip @useFocus={{true}}>
      Hello
      <a href="#">World</a>
    </Tooltip>
  </div>

  <button type="button">
    I should
    <i>not</i>
    show a tooltip when focused with a keyboard

    <Tooltip @useFocus={{false}}>
      Hello World
    </Tooltip>
  </button>
</div>

<div id="portal">
  {{! tooltip rendered here }}
</div>